<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/components/footer.css">

</head>
<body>
<div class = "footer-container container">
    <div class = "top-container">
        <div class = "column-content">
            <p class = "column-heading">Hours</p>
                <p>Mon-Fri: 9:00a.m - 12:00a.m</p>
                <p>Sat-Sun: 9:00a.m - 1:00a.m</p>
        </div>
        <div class = "column-content">
            <p class= "column-heading">Menus</p>
                <a href = "/html/webpages.html/menu/menu.html">Restaurants</a>
                <a href = "/html/webpages.html/menu/menu-catering.html">Catering</a>
        </div>
        <div class = "column-content">
            <p class = "column-heading">Order Now</p>
            <a href = "#">Delivery</a>
            <a href = "#">Pickup</a>
        </div>
        <div class = "column-content">
            <p class = "column-heading">Locations</p>
            <a href = "#">All Locations</a>
            <a href = "#">Find Us</a>
        </div>
        <div class = "column-content">
            <p class = "column-heading">About</p>
                <a href = "/html/webpages.html/get_to_know_us.html">Our Story</a>
        </div>
    </div>
    <div class = "bottom-container">
        <div class = "socials-container">
            <div class = social-container>
                <a href = "https://www.facebook.com/PizzaNovaInc/"><img src = "/assets/256px-Facebook_logo_(square).png" id = "social-img"></a>
            </div>
            <div class = social-container>
                <a href = "https://www.instagram.com/pizzanova/"><img src = "/assets/256px-Instagram-Icon.png" id = "social-img"></a>
            </div>
            <div class = social-container>
                <a href = "https://x.com/pizzanova"><img src = "/assets/Coast_twitter.png" id = "social-img"></a>
            </div>
        </div>
        <div class = "copyright-container">
            <p id = "copyright">&copy; Pizza Nova 2024. All rights reserved.</p>
        </div>
    </div>
</div>
</body>
</html>