<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/javascript/components/item-card.js"></script>
    <!-- <link rel="stylesheet" href="/css/components/item-card.css"> -->
    <title>Document</title>
</head>
<body>
    <!-- example layout -->
    <item-card
        name="Burger"
        price="9.99"
        description="Juicy beef patty with lettuce, tomato, and cheese"
        image="/assets/PNLOGO.png"
        image-size="small">
    </item-card>
</body>
</html>