<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/components/nav.css">
    <title>Document</title>
</head>
<body>
    <div class = "nav-container container">
        <div class = "img-container">
            <a href = "/html/webpages.html/home.html"><img src = "/assets/PNLOGO.png"></a>
        </div>
        <nav>
            <ul>
                <li class = "dropdown-menu">
                    <a href = "/html/webpages.html/menu/menu.html">Menus</a>
                    <div class = "dropdown-menu-content">
                        <a href="/html/webpages.html/menu/menu.html">Restaraunts</a>
                        <a href="/html/webpages.html/menu/menu-catering.html">Catering</a>
                    </div>
                </li>
                <li><a href = "#">Order Now</a></li>
                <li><a href = "/html/webpages.html/stores.html">Stores</a></li>
                <li><a href = "/html/webpages.html/get_to_know_us.html">Get to Know Us</a></li>
            </ul>
        </nav>
    </div>

</body>
</html>